<%= form_for ([@article, @author]), :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
      <div class="col-md-6"> 
        <%= f.text_field :first_name, :class => 'form-control input', :placeholder=>"Primeiro Nome" %>
      </div>
   </div>   
   <div class="row">
      <div class="col-md-6"> 
        <%= f.text_field :last_name, :class => 'form-control input' , :placeholder=>"Sobrenome" %>
      </div>
  </div>

  <div class="row">
      <div class="col-md-3"> 
        <%= f.submit "Criar Autor", :class => 'btn btn-primary btn btn-block'  %>
      </div>
  
<% end %>